
<mat-toolbar style="height: 125px; background-color: rgb(235, 232, 232);">

    <div>
        <h3>Welcome!</h3>
        <h2 class="text-primary">Dashboarded</h2>
    </div>
    <span class="example-spacer"></span>
    <div class="wrapper">
        <div class="container">
          <input type="text" class="input" placeholder="Search...">
          <button type="button" value="search" class="close-btn"><mat-icon>search</mat-icon></button>
        </div>
      </div>

      <button class="btn btn-white rounded-pill text-primary" style="border: 1px solid blue; width: 150px; height: 50px; margin-right: 20px;">
        <i class="fas fa-wallet"></i> Wallet
      </button>

    <button style="border: 1px solid blue; width: 50px; height: 50px; margin-right: 20px;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>notifications</mat-icon>
    </button>
  </mat-toolbar>