.example-spacer {
    flex:auto;
  }
  

  .container {
    position: relative;
    padding: 20px 50px;
  }
  
  .input {
    width: 400px;
    border: 3px solid #ffffff;
    padding: 12px 30px;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    color: #000000;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: blue;
    font-family: Roboto;
  }
  .mat-icon
  {
    color: blue;
  }

  
  .close-btn {
    position: absolute;
    top: 21px;
    right: 50px;
    cursor: pointer;
    color: #ffffff;
    background: #ffffff;
    border: 0px;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  

  