<mat-list role="list" class="list">

    <div class="menu-container">
        <div class="menu">
            <a href=""> <span class="icon"><i class="fa-solid fa-home"></i></span></a>


        </div>
        <div class="menu">
            <a href=""> <span class="icon"><i class="fa-solid fa-chart-simple"></i></span></a>


        </div>
        <div class="menu">
            <a href=""> <span class="icon"><i class="fa-solid fa-credit-card"></i></span></a>


        </div>
        <div class="menu">
            <a href=""> <span class="icon"><i class="fa-solid fa-list-check"></i></span></a>


        </div>
        <div class="menu">
            <a href=""> <span class="icon"><i class="fa-sharp fa-solid fa-clock-rotate-left"></i></span></a>


        </div>
        <div class="menu">
            <a href=""> <span class="icon"><i class="fa-solid fa-arrows-up-down"></i></span></a>


        </div>
        <div class="menu">
            <a href=""> <span class="icon"><i class="fa-solid fa-square-envelope"></i></span></a>


        </div>
        <div class="menu" style="margin-top: 500px;">
            <a href=""> <span class="icon"><i class="fa-solid fa-gear"></i></span></a>


        </div>
        
    </div>

</mat-list>